# Puerto donde escucha la API
PORT=3000

# Conexión a MongoDB (local)
MONGODB_URI=mongodb://127.0.0.1:27017/url-shortener

# URL base con la que se construyen las URLs cortas (sin slash final)
BASE_URL=http://localhost:3000

# development | production
NODE_ENV=development
